<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ .Site.Params.hero.body.title }}
        </h1>
        {{ with .Site.Params.hero.body.subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ .Site.Params.hero.body.buttonLink }}">
            {{ .Site.Params.hero.body.buttonText }}
          </a>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ printf "/%s" .Site.Params.hero.body.image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>