{{ define "main" }}

    {{- if (.Site.Params.navbar) }}
    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}
    {{ end }}

    {{- if not (.Site.Params.hero.disable) }}
    <section class="hero is-halfheight is-default is-bold">
        {{- if not (.Site.Params.hero.body.disable) }}
        {{ partial "hero-body.html" . }}
        {{ end }}
        {{- if not (.Site.Params.hero.footer.disable) }}
        {{ partial "hero-footer.html" . }}
        {{ end }}
      </section>
    {{ end }}

    {{- if not (.Site.Params.section1.disable) }}
    {{ partial "section1.html" . }}
    {{ end }}

    {{- if not (.Site.Params.section2.disable) }}
    {{ partial "section2.html" . }}
    {{ end }}

    {{- if not (.Site.Params.section3.disable) }}
    {{ partial "section3.html" . }}
    {{ end }}

    {{- if not (.Site.Params.section4.disable) }}
    {{ partial "section4.html" . }}
    {{ end }}

    {{- if not (.Site.Params.section5.disable) }}
    {{ partial "section5.html" . }}
    {{ end }}

    {{- if not (.Site.Params.footer.disable) }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{- if not (.Site.Params.sidebar.disable) }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}